.header {
    background-color: #000; /*Update background color to #000.*/
    font: #fff; /*Change font color to #fff.*/

}

.wrapper {
    max-width: 940px; /* Place all content within header in a wrapper that has a max-width of 940px*/
    align-items: center; /*and center in the middle of the page. This will be a task that is repeated for each section so creating a wrapper class would be ideal.*/ /*use justify content?*/

}

.nav .ul{
    display: flex;
    flex-direction: row-reverse; /*Adjust name to be on the left and the main navigation to display on the right using flexbox.*/
}

/**/

/*


    Update background color to #000.
    Change font color to #fff.
    Place all content within header in a wrapper that has a max-width of 940px and center in the middle of the page. This will be a task that is repeated for each section so creating a wrapper class would be ideal.
    
    Adjust name to be on the left and the main navigation to display on the right using flexbox.
    Change the navigation items to line up beside one another.
    Add space in between each navigation link.
    Align the name and navigation. 



*/

.hero