.header {
    background-color: #000; /*Update background color to #000.*/
    font: #fff; /*Change font color to #fff.*/

}

.wrapper {
    max-width: 940px; /* Place all content within header in a wrapper that has a max-width of 940px*/
    align-items: center; /*and center in the middle of the page. This will be a task that is repeated for each section so creating a wrapper class would be ideal.*/ /*use justify content?*/

}

.nav .ul{
    display: flex;
    flex-direction: row-reverse; /*Adjust name to be on the left and the main navigation to display on the right using flexbox.*/
    display: inline; /*Change the navigation items to line up beside one another.*/
        /*Add space in between each navigation link.*/
        /*Align the name and navigation. */
}



/*


    Update background color to #000.
    Change font color to #fff.
    Place all content within header in a wrapper that has a max-width of 940px and center in the middle of the page. This will be a task that is repeated for each section so creating a wrapper class would be ideal.
    Adjust name to be on the left and the main navigation to display on the right using flexbox.
    Change the navigation items to line up beside one another.
    Add space in between each navigation link.
    Align the name and navigation. 



*/

.hero {
    height: 600px; /*Set the height of the section to 600px.*/
    background-image: url(); /*Add a background image to the section and adjust properties so that it covers the entire area and the focal point is in the center of the image.*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



/*
    Set the height of the section to 600px.
    Add a background image to the section and adjust properties so that it covers the entire area and the focal point is in the center of the image.

    Apply a grayscale filter of 70%. This is something you will have to search online. A good resource would be w3schools.com.
    Set your h1 text to have a max-width of 60%.
    Add a black background color to your h1 text using rgba so that the opacity of the color is set to 50%.
    Apply a text shadow to the white h1 text to separate it from the background a bit more. 
    Use flexbox properties to center the text both horizontally and vertically in the middle of the hero section.
*/