* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial",sans-serif;
    line-height: 1.4;
    margin: 0;
}

img {
    width: 100%;
}

header {
    background-color: #000;
    color: #fff;
}

.wrapper {
    max-width: 940px; 
    margin: 0 auto;
    align-items: center; 
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    justify-content: space-between;
    gap: 20px; 
}

ul li {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

nav a:link,
nav a:visited {
    color: #fff;
    list-style: none;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #858585;
}



#hero {
    height: 600px; 
    background-image: url(../images/hands-typing.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: grayscale(70%);
    display: flex; 
    justify-content: center;
    align-items: center;
}

#hero h1 {
    max-width: 60%;
    background-color:rgba(0, 0, 0, 0.5); 
    color: #fff;
    text-shadow: #000 2px 2px; 
    text-align: center;
}



#about-me .wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#about-me .wrapper:nth-child(1){
    grid-column: 2 / 3;
    padding: 15px;
    display: flex;
    justify-content: center;
}

#about-me img {
    grid-column: 1 / 3;
    max-width: 25%;
    align-self: end;
}



#services h2 { 
    margin: 50px auto 50px;
    max-width: 740px;
    text-align: center;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 30px; 
}

.skills div {
    background-color: #fafafa;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills div h3 {
    margin-bottom: 0;
}

.skills div p {
    padding-bottom: 2em;
}

.skills article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills a:link,
.skills a:visited {
    display: inline-block;
    padding: .8em 1em;
    background-color: #000;
    border: 2px solid black;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;

    margin-top: auto;

} 


.skills a:hover {
    background-color: #fff;
    color: #000;
}


/*
SERVICES
    Set the section background color to #fafafa. - DONE
    Set a max width on the heading and align the text in the center. 
    Use grid to create a three column grid where all columns are evenly distributed. - DONE
    



*/

#work h2 { 
    margin: 100px auto 20px auto;
    max-width: 700px;
    text-align: center;
}

#work p { 
    margin: 0 auto 20px;
    max-width: 700px;
    text-align: center;
}

.center {
    align-items: center;
}

#work .images {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);

    margin-bottom: 50px;

    grid-template-areas: 
    "img1 img1 img1 img2 img2 img2"
    "img3 img3 img4 img4 img5 img5"

    
}

#work .images img:nth-child(1){
  grid-area: img1;
}

#work .images img:nth-child(2){
  grid-area: img2;
}

#work .images img:nth-child(3){
  grid-area: img3;
}

#work .images img:nth-child(4){
  grid-area: img4;
}

#work .images img:nth-child(5){
  grid-area: img5;
}

/*
MY WORK SECTION
    Place all content within this section in a wrapper that has a max-width of 940px and center in the middle of the page.
    Set a max width on the heading and introduction text for the section and align the text in the center.
    Place all images in that section in a grid using grid areas or grid line positioning. Hint: The starting point for this will be to create a grid with 6 columns and 2 rows. - DONE
*/


footer {
    background-color: #000;
    color: white;
    text-align: center;
    line-height: 3;
    margin: 0;
}